<!-- admin_login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
</head>
<body>

    <div class="container-fluid">
        <div class="container" align="center">
            {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
                    {% for category, message in messages %}        
                    {% if category == 'error' %}
                        <div class="alert alert-danger alter-dismissable fade show w-50" role="alert">
                            <div class="row">
                                <p class="col-11 m-0">{{ message }}</p>
                                <button type="button" class="btn-close col-1" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-success alter-dismissable fade show w-50" role="alert">
                            <div class="row">
                                <p class="col-11 m-0">{{ message }}</p>
                                <button type="button" class="btn-close col-1" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <h1>Admin Login</h1>
    <div class="container" float="right">
        <form method="POST">
            <h1 align="center" float="right">Login</h1>
            <div class = "form-group">
                <label for="username">Username</label><br>
                <input required id="username" name="username" class="form-control" type="text" placeholder="Enter your username">
            </div>
    
            <br>
    
            <div class = "form-group">
                <label for="password">Password</label><br>
                <input required id="password" name="password" type="text" placeholder="Enter your password">
            </div>
    
            <br>
    
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        </div>
</body>
</html>
