<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Bagel Fat One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>


    <title>Admin Dashboard</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark sticky-top bg-gradient">
        <div class="container">
            <a class="navbar-brand" href="/admin_dashboard" style="font-family: 'Bagel Fat One';font-size: 32px; color: aliceblue;">Grocilla</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <a href="/admin_summary" class="btn btn-outline-light" style="margin-left: 5px">Summary</a>
                    <a href="/logout" class="btn btn-outline-light" style="margin-left: 5px">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid m-2">
        <div class="container" align="center">
            {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
                    {% for category, message in messages %}        
                    {% if category == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show w-50" role="alert">
                            <div class="row">
                                <p class="col-11 m-0">{{ message }}</p>
                                <button type="button" class="btn-close col-1" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-success alert-dismissible fade show w-50" role="alert">
                            <div class="row">
                                <p class="col-11 m-0">{{ message }}</p>
                                <button type="button" class="btn-close col-1" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    {% block body %} {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>