{% extends "user_base.html" %}
{% block body %}

<div class="container mb-4">
    <div class="text-center my-4" >
        <h3>Your Orders</h3>
    </div>

    <!-- loop for products in specific category -->
    {% for order in orders %}
    <div class="row">
    <div class="col">
        <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <b>{{ order["product_name"] }}</b>
                </div>
                <div class="col-3">
                    {{ order['quantity_of_product'] }} {{ order['productid']['unit'] }}
                </div>
                <div class="col-3">
                    Rs. {{ order["total_price"] }}
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
        {% endfor %}
</div>
{% endblock body %}